<a href="https://colab.research.google.com/github/FairozaAmira/test/blob/main/My_First_Notebook_colab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# My First Notebook

## Learn Python with Colab

**How to learn Python?**



```
# This is formatted as code
```

`a=5` is a equal to 5.

In [ ]:
import numpy as np

In [ ]:
# a is 5
a = 5
print(a)

5

In [ ]:
a

5

### Mathematical Operations

In [ ]:
2*(3+4)

14

In [ ]:
print('first value:', 2)

first value: 2

In [ ]:
Numbers = [4,3,2,1]
Numbers.sort()
Numbers

[1, 2, 3, 4]